body{
    margin: 0px;
    padding: 0px;
}
.header{background-color: #e4eaea;
    height: 80px;
    margin: 10px;
    

}
nav{position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #0f1010;padding: 0px;z-index: 1000;}

nav ul li{list-style-type: none;
display: inline-block;
padding: 10px;}
ul li a{ color: #fff;
letter-spacing: 0.1rem;}
.style{float: right;

}
#image-droite{float: right;
    margin-left: 20px;
    width: 200px;
    height: auto;

}
#titre-principal{ text-align: center;color: rgb(66, 10, 219);}
#bienvenus{ text-align: center;color: rgb(87, 14, 213);}
#mon-paragraphe{ margin: 40px;}
#d-paragraphe{margin: 20px; text-align: left;width: 60%;padding: 10px; 
}
#im-droite{float: right;margin-left: 40px;width: 150px;height: auto;}
#titre-segond{ text-align: center; color: rgb(6, 154, 105);}
#titre-triple{ text-align: center; color: rgb(17, 4, 158);}
#titre-quart{ text-align: center; color: #287265;}
#titre-cinq{ text-align: center;color: #af099e;}
#titre-six{ text-align: center; color: rgb(3, 70, 101);}
#titre-lien{ text-align: center;color: rgb(38, 35, 229);}
#CV-ZONGO{ text-align: center;}
#imag-droite{ float: none;margin-left: 20px;width: 200px;height: auto;}
#logo-droite{float: none;margin-left: 20px; width: 200px;height: auto;}
#visuel-droite{float: none ;margin-left: 20px;width: 200px;height: auto;}
#vis-droite{float: none;margin-left: 20px;width: 200px;height: auto;}
#vi-droite{float: none;margin-left: 20px;width: 200px;height: auto;}